n8n_chatbot_workflow_v7_sales.json
{
    "name": "Neo Core Sys Chatbot v7 (Sales Mode)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-post",
            "name": "Webhook (POST)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "httpMethod": "OPTIONS",
                "path": "chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-options",
            "name": "Webhook (OPTIONS)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "id": "respond-options",
            "name": "Respond CORS (OPTIONS)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                700,
                100
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "finalPrompt",
                            "value": "={{ $json.chatInput || $json.body.chatInput || $json.query.chatInput }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "prepare-data",
            "name": "Preparar Datos",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "prompt": "={{ $json.finalPrompt }}",
                "messages": {
                    "messageValues": [
                        {
                            "role": "system",
                            "content": "Eres 'Neo', el experto comercial de Neo Core Sys (neo-core-sys.com).\n\nTUS SERVICIOS:\n1. 💻 Desarrollo Web de Alto Rendimiento (Rápidas y Modernas).\n2. 🚀 Posicionamiento SEO (Para salir primero en Google).\n3. 📱 Aplicaciones Móviles y Web.\n4. 🎨 Identidad Visual y Branding.\n5. 🤖 Integraciones de IA y Automatización de Procesos.\n\nTU OBJETIVO:\nConversar con el visitante, entender qué necesita y venderle la solución ideal.\n\nREGLAS DE ORO:\n- Sé persuasivo pero profesional y cercano.\n- Si el cliente muestra interés real, PÍDELE SUS DATOS: Nombre, Email o WhatsApp, y Presupuesto aproximado.\n\nCUANDO TENGAS LOS DATOS (EL CIERRE):\n- Debes generar una respuesta que EMPIECE con la etiqueta \"[LEAD]\" (sin comillas).\n- En esa respuesta, haz un RESUMEN de los datos para enviarlos a mi equipo.\n- Ejemplo: \"[LEAD] ¡Perfecto! He tomado nota: Cliente Juan, Interesado en SEO, Email: juan@test.com. Nos pondremos en contacto pronto.\"\n\nSI NO ES UN LEAD:\n- Responde normal, resuelve sus dudas y anímalo a contratar. NO uses la etiqueta [LEAD] si no tienes sus datos de contacto."
                        }
                    ]
                }
            },
            "id": "basic-llm-chain",
            "name": "Neo Basic Chain",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "model": "gemini-1.5-flash",
                "options": {}
            },
            "id": "google-gemini-model",
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                850,
                500
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "CREAR_CREDENCIAL_GEMINI",
                    "name": "Google Gemini(PaLM) Api"
                }
            }
        },
        {
            "parameters": {
                "sessionKey": "={{ $json.sessionId || 'default' }}"
            },
            "id": "window-buffer-memory",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1,
            "position": [
                1000,
                500
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.text }}",
                            "operation": "contains",
                            "value2": "[LEAD]"
                        }
                    ]
                }
            },
            "id": "check-lead",
            "name": "Es Lead?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1150,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "5920344956",
                "text": "=🚀 ¡NUEVO CLIENTE POTENCIAL!\n\nNeo ha capturado los siguientes datos:\n\n{{ $json.text.replace('[LEAD]', '').trim() }}",
                "additionalFields": {}
            },
            "id": "telegram-node",
            "name": "Avisar por Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1400,
                200
            ],
            "credentials": {
                "telegramApi": {
                    "id": "CREAR_CREDENCIAL_TELEGRAM",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"output\": $json.text.replace('[LEAD]', '').trim() } }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "clean-response",
            "name": "Limpiar Respuesta",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1400,
                450
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"output\": $json.text } }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "normal-response",
            "name": "Respuesta Normal",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1400,
                600
            ]
        }
    ],
    "connections": {
        "Webhook (POST)": {
            "main": [
                [
                    {
                        "node": "Preparar Datos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook (OPTIONS)": {
            "main": [
                [
                    {
                        "node": "Respond CORS (OPTIONS)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Datos": {
            "main": [
                [
                    {
                        "node": "Neo Basic Chain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Neo Basic Chain": {
            "main": [
                [
                    {
                        "node": "Es Lead?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_language_model": [
                [
                    {
                        "node": "Neo Basic Chain",
                        "type": "ai_language_model",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Neo Basic Chain",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Es Lead?": {
            "main": [
                [
                    {
                        "node": "Avisar por Telegram",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respuesta Normal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Avisar por Telegram": {
            "main": [
                [
                    {
                        "node": "Clean Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}