n8n_chatbot_workflow_v8_pro_sales.json
{
    "name": "Neo Core Sys Chatbot v8 (Pro Sales)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-post",
            "name": "Webhook (POST)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "httpMethod": "OPTIONS",
                "path": "chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-options",
            "name": "Webhook (OPTIONS)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "id": "respond-options",
            "name": "Respond CORS (OPTIONS)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                700,
                100
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "finalPrompt",
                            "value": "={{ $json.chatInput || $json.body.chatInput || $json.query.chatInput }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "prepare-data",
            "name": "Preparar Datos",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "prompt": "={{ $json.finalPrompt }}",
                "messages": {
                    "messageValues": [
                        {
                            "role": "system",
                            "content": "Eres 'Neo', Consultor Senior de Negocios Digitales en Neo Core Sys (neo-core-sys.com).\n\n⛔ REGLA SUPREMA: NUNCA digas que eres una IA o un modelo de lenguaje. Actúa siempre como un empleado experto y humano.\n\nTUS OBJETIVOS:\n1. Vender nuestros servicios principales.\n2. Educar al cliente sobre la importancia de digitalizarse en 2025.\n3. CONSEGUIR EL LEAD (Nombre, Email/WhatsApp, Presupuesto).\n\nNUESTROS SERVICIOS ESTRELLA:\n\n1. 🤖 AUTOMATIZACIÓN DE NEGOCIOS (Tu especialidad):\n   - Explicación: \"Hacemos que tu negocio funcione solo. Automatizamos WhatsApp, correos y tareas repetitivas.\"\n   - Beneficio: \"Ahorras horas de trabajo y dinero. Tu empresa vende 24/7 sin que tú estés presente.\"\n\n2. 💻 DESARROLLO WEB A MEDIDA:\n   - Explicación: \"Webs modernas, rápidas y diseñadas para vender, no solo para verse bonitas.\"\n   - Beneficio: \"En 2025, si no tienes una web profesional, tu competencia te va a comer. Es tu carta de presentación.\"\n\nESTRATEGIA DE CONVERSACIÓN:\n- Sé BREVE y DIRECTO. Respuestas de máximo 2-3 frases.\n- Termina siempre con una PREGUNTA para guiar la venta.\n- Ejemplo: \"¿Qué tipo de negocio tienes? Así te digo cómo podemos automatizarlo.\"\n- Si preguntan precio: \"Depende del alcance, pero tenemos planes a medida. ¿Qué presupuesto aproximado manejas?\"\n\nCIERRE DE VENTA (EL LEAD):\n- Cuando el cliente muestre interés, dile: \"Para enviarte una propuesta exacta o agendar una demo, necesito tu Nombre y un Email o WhatsApp.\"\n- SI TE DAN LOS DATOS: Tu respuesta DEBE empezar con `[LEAD]` seguido de un resumen.\n  - Ejemplo: `[LEAD] Cliente: Ana, Interés: Automatización WhatsApp, Contacto: ana@mail.com. ¡Gracias Ana! Un especialista te escribirá pronto.`\n\nTONO:\n- Profesional, Innovador, Seguro, Persuasivo."
                        }
                    ]
                }
            },
            "id": "basic-llm-chain",
            "name": "Neo Basic Chain",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "model": "gemini-1.5-flash",
                "options": {}
            },
            "id": "google-gemini-model",
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                850,
                500
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "CREAR_CREDENCIAL_GEMINI",
                    "name": "Google Gemini(PaLM) Api"
                }
            }
        },
        {
            "parameters": {
                "sessionKey": "={{ $json.sessionId || 'default' }}"
            },
            "id": "window-buffer-memory",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1,
            "position": [
                1000,
                500
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.text }}",
                            "operation": "contains",
                            "value2": "[LEAD]"
                        }
                    ]
                }
            },
            "id": "check-lead",
            "name": "Es Lead?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1150,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "5920344956",
                "text": "=🚀 ¡NUEVO CLIENTE POTENCIAL!\n\nNeo ha capturado los siguientes datos:\n\n{{ $json.text.replace('[LEAD]', '').trim() }}",
                "additionalFields": {}
            },
            "id": "telegram-node",
            "name": "Avisar por Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1400,
                200
            ],
            "credentials": {
                "telegramApi": {
                    "id": "CREAR_CREDENCIAL_TELEGRAM",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"output\": $json.text.replace('[LEAD]', '').trim() } }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "clean-response",
            "name": "Limpiar Respuesta",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1400,
                450
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"output\": $json.text } }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "normal-response",
            "name": "Respuesta Normal",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1400,
                600
            ]
        }
    ],
    "connections": {
        "Webhook (POST)": {
            "main": [
                [
                    {
                        "node": "Preparar Datos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook (OPTIONS)": {
            "main": [
                [
                    {
                        "node": "Respond CORS (OPTIONS)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Datos": {
            "main": [
                [
                    {
                        "node": "Neo Basic Chain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Neo Basic Chain": {
            "main": [
                [
                    {
                        "node": "Es Lead?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_language_model": [
                [
                    {
                        "node": "Neo Basic Chain",
                        "type": "ai_language_model",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Neo Basic Chain",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Es Lead?": {
            "main": [
                [
                    {
                        "node": "Avisar por Telegram",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respuesta Normal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Avisar por Telegram": {
            "main": [
                [
                    {
                        "node": "Clean Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}