n8n_chatbot_workflow_v4_modern.json
{
    "name": "Neo Core Sys Chatbot v4 (JSON Fix)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-post",
            "name": "Webhook (POST)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "httpMethod": "OPTIONS",
                "path": "chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-options",
            "name": "Webhook (OPTIONS)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "id": "respond-options",
            "name": "Respond CORS (OPTIONS)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                700,
                100
            ]
        },
        {
            "parameters": {
                "prompt": "={{ $json.chatInput }}",
                "messages": {
                    "messageValues": [
                        {
                            "role": "system",
                            "content": "Eres 'Neo', el asistente avanzado de IA para Neo Core Sys.\n\nTU OBJETIVO: Filtrar clientes y conseguir su Email si valen la pena.\n\nINSTRUCCIONES:\n1. Sé amable, profesional y breve.\n2. Haz preguntas para calificar: Nombre, Empresa, Proyecto, Presupuesto.\n\nCRITERIO DE ÉXITO (LEAD):\n- Si el cliente tiene presupuesto y un proyecto serio: Pide su Email para agendar reunión.\n- IMPORTANTE: Si pides el email o agendas reunión, INICIA tu respuesta con la etiqueta \"[LEAD]\" (sin comillas) para que mi sistema te detecte.\n  Ejemplo: \"[LEAD] ¡Excelente! Por favor dame tu email...\"\n\nCRITERIO DE RECHAZO:\n- Si no tiene presupuesto o quiere gratis: Despáchalo educadamente invitándolo a redes sociales. NO uses la etiqueta [LEAD]."
                        }
                    ]
                }
            },
            "id": "basic-llm-chain",
            "name": "Neo Basic Chain",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "model": "gemini-1.5-flash",
                "options": {}
            },
            "id": "google-gemini-model",
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                700,
                500
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "CREAR_CREDENCIAL_GEMINI",
                    "name": "Google Gemini(PaLM) Api"
                }
            }
        },
        {
            "parameters": {
                "sessionKey": "={{ $json.sessionId || 'default' }}"
            },
            "id": "window-buffer-memory",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1,
            "position": [
                850,
                500
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.text }}",
                            "operation": "contains",
                            "value2": "[LEAD]"
                        }
                    ]
                }
            },
            "id": "check-lead",
            "name": "Es Lead?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1000,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "5920344956",
                "text": "=🚀 ¡NUEVO LEAD DETECTADO!\n\nLa IA ha encontrado un cliente potencial.\n\nÚltimo mensaje del Bot:\n{{ $json.text }}",
                "additionalFields": {}
            },
            "id": "telegram-node",
            "name": "Avisar por Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1250,
                200
            ],
            "credentials": {
                "telegramApi": {
                    "id": "CREAR_CREDENCIAL_TELEGRAM",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"output\": $json.text.replace('[LEAD]', '').trim() } }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "clean-response",
            "name": "Limpiar Respuesta",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1250,
                450
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"output\": $json.text } }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "normal-response",
            "name": "Respuesta Normal",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1250,
                600
            ]
        }
    ],
    "connections": {
        "Webhook (POST)": {
            "main": [
                [
                    {
                        "node": "Neo Basic Chain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook (OPTIONS)": {
            "main": [
                [
                    {
                        "node": "Respond CORS (OPTIONS)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Neo Basic Chain": {
            "main": [
                [
                    {
                        "node": "Es Lead?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_language_model": [
                [
                    {
                        "node": "Neo Basic Chain",
                        "type": "ai_language_model",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Neo Basic Chain",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Es Lead?": {
            "main": [
                [
                    {
                        "node": "Avisar por Telegram",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respuesta Normal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Avisar por Telegram": {
            "main": [
                [
                    {
                        "node": "Clean Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}